@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('assets/2024-07-14_18.17.44.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: background-color 0.5s ease, background-image 0.5s ease, color 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body.dark-mode {
    background: url('assets/2024-07-14_18.17.57.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #E9E9E9;
}

.header {
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 800px;
    height: 212px;
    transition: opacity 0.5s ease;
}

#wise {
    width: 250px;
    height: 44px;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 13px;
    left: 20px;
    display: inline-block;
}

h3 {
    font-size: 1rem;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 35px;
    left: 56px;
    display: inline-block;
    text-shadow: 2px 2px 1px #000000;
}

.header a {
    text-shadow: 0px 0px 0px #000000;
}

.container {
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

.sidebar-container, .live-container {
    flex: 1;
}

.sidebar-container h2,
.live-container h2 {
    margin-top: 20px; /* Adjust this value to move the headers down */
    margin-bottom: 5px;
    text-shadow: 2px 2px 1px #000000;
}

body.dark-mode h2 {
    text-shadow: 2px 2px 1px #000000;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    background: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    width: 266px;
}

body.dark-mode .sidebar {
    background-color: #17153B;
}

#user-list {
    list-style-type: none;
    padding-left: 0;
}

#user-list li {
    padding: 5px 0 16px;
    display: flex;
    align-items: center;
}

#user-list li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    transition: color 0.5s ease;
}

body.dark-mode #user-list li a {
    color: #F4F4F4;
}

#user-list li a:hover {
    text-decoration: underline;
}

.sidebar-logo {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.sidebar-text {
    font-size: 16px;
}

.live-section {
    border-radius: 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: background-color 0.5s ease;
    width: 527px;
    max-width: 100%; /* Ensure the live section does not exceed the screen width */
}

body.dark-mode .live-section div {
    background: #17153B;
}

.live-section div {
    background: #F4F4F4;
    padding: 10px;
    text-align: center;
    border-radius: 17px;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
}

img {
    height: 142.31px;
    width: 213.5px;
}

.live-section div a {
    text-decoration: none;
    color: inherit;
}

.switch {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60px;
    height: 34px;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: left;
}

.slider img {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 2px;
    top: 2px; /* Adjust to align vertically */
    transition: transform 0.5s ease;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider img {
    transform: translateX(26px);
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.footer.dark-mode {
    color: #F4F4F4;
}

.footer a {
    color: black;
}

.footer.dark-mode a {
    color: #F4F4F4;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    align-self: flex-start;
    margin: 5px 0;
}

.login-container input[type="text"], .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

/* Fade-in and fade-out animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
    pointer-events: none;
}

/* Media queries for mobile */
@media (max-width: 768px) {
    .header img {
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }
    
    .live-container {
        width: 100%;
    }

    .live-section {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 100%; /* Ensure the live section does not exceed the screen width */
    }

    .switch {
        top: 10px;
        right: 10px;
    }

    .slider {
        justify-content: left;
    }

    .slider img {
        height: 30px;
        width: 30px;
        left: 2px;
        top: 2px;
        transition: transform 0.5s ease;
    }

    input:checked + .slider img {
        transform: translateX(26px);
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    #toggleSidebarWrapper {
        display: flex;
        align-items: center;
        cursor: pointer; /* Make the entire wrapper clickable */
    }

    #unfold {
        margin-left: 10px;
        height: 20px; /* Ensure the image size is appropriate */
        vertical-align: middle; /* Vertically align the image */
        width: auto;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .sidebar {
        display: none; /* Hide sidebar by default on mobile */
        position: relative;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
        background: rgba(255, 255, 255);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 17px;
        width: auto;
    }

    .sidebar.visible {
        display: block; /* Show sidebar when visible class is added */
    }

    .sidebar-container h2 {
        text-align: left !important; /* Force align "Osalised" heading to the left on mobile */
    }
}

@media (min-width: 769px) {
    #toggleSidebar {
        display: none; /* Hide toggle button on desktop */
    }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background: url('assets/2024-07-14_18.17.57.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #E9E9E9;
}

.header {
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 800px;
    height: 212px;
    transition: opacity 0.5s ease;
}

.container {
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
}

.sidebar-container, .live-container {
    flex: 1;
}

.sidebar-container h2,
.live-container h2 {
    margin-top: 20px; /* Adjust this value to move the headers down */
    margin-bottom: 5px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    background: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    width: 266px;
}

body.dark-mode .sidebar {
    background-color: #17153B;
}

#user-list {
    list-style-type: none;
    padding-left: 0;
}

#user-list li {
    padding: 5px 0 16px;
    display: flex;
    align-items: center;
}

#user-list li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    transition: color 0.5s ease;
}

body.dark-mode #user-list li a {
    color: #F4F4F4;
}

#user-list li a:hover {
    text-decoration: underline;
}

.sidebar-logo {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.sidebar-text {
    font-size: 16px;
}

.live-section {
    border-radius: 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: background-color 0.5s ease;
    width: 527px;
    max-width: 100%; /* Ensure the live section does not exceed the screen width */
}

body.dark-mode .live-section div {
    background: #17153B;
}

.live-section div {
    background: #F4F4F4;
    padding: 10px;
    text-align: center;
    border-radius: 17px;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    cursor: pointer; /* Change cursor to pointer to indicate the element is clickable */
}

img {
    height: 142.31px;
    width: 213.5px;
}


.live-section div a {
    text-decoration: none;
    color: inherit;
}

.switch {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60px;
    height: 34px;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: left;
}

.slider img {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 2px;
    top: 2px; /* Adjust to align vertically */
    transition: transform 0.5s ease;
}

#admin{
    margin-bottom: 0px;
    margin-top: 0px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider img {
    transform: translateX(26px);
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer.dark-mode {
    color: #F4F4F4;
}

.footer a {
    color: black;
}

.footer.dark-mode a {
    color: #F4F4F4;
}

.login-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    align-self: flex-start;
    margin: 5px 0;
}

.login-container input[type="text"], .login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box; /* Ensures padding is included in the total width */
}

/* Fade-in and fade-out animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
    pointer-events: none;
}

/* Media queries for mobile */
@media (max-width: 768px) {
    .header img {
        width: 100%;
        height: auto;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }
    
    .live-container {
        width: 100%;
    }

    .live-section {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        max-width: 100%; /* Ensure the live section does not exceed the screen width */
    }

    .switch {
        top: 10px;
        right: 10px;
    }

    .slider {
        justify-content: left;
    }

    .slider img {
        height: 30px;
        width: 30px;
        left: 2px;
        top: 2px;
        transition: transform 0.5s ease;
    }

    input:checked + .slider img {
        transform: translateX(26px);
    }

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    #toggleSidebarWrapper {
        display: flex;
        align-items: center;
        cursor: pointer; /* Make the entire wrapper clickable */
    }

    .sidebar {
        display: none; /* Hide sidebar by default on mobile */
        position: relative;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1000;
        background: rgba(255, 255, 255);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 17px;
        width: auto;
    }

    .sidebar.visible {
        display: block; /* Show sidebar when visible class is added */
    }

    .sidebar-container h2 {
        text-align: left !important; /* Force align "Osalised" heading to the left on mobile */
    }
}

@media (min-width: 769px) {
    #toggleSidebar {
        display: none; /* Hide toggle button on desktop */
    }
}
