@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('assets/2024-07-14_18.17.44.jpg') no-repeat center center fixed;
    background-size: cover;
    transition: background-color 0.5s ease, background-image 0.5s ease, color 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.dark-mode {
    background: url('assets/2024-07-14_18.17.57.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #E9E9E9;
}

.header {
    text-align: center;
    padding: 20px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 800px;
    height: 212px;
    transition: opacity 0.5s ease;
}

.container {
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sidebar-container, .live-container {
    flex: 1;
}

.sidebar {
    background: rgba(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    width: 266px;
}

body.dark-mode .sidebar {
    background-color: #17153B;
}

#user-list {
    list-style-type: none;
    padding-left: 0;
}

#user-list li {
    padding: 5px 0 16px;
}

#user-list li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    transition: color 0.5s ease;
}

body.dark-mode #user-list li a {
    color: #F4F4F4;
}

#user-list li a:hover {
    text-decoration: underline;
}

#user-list li a img {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.live-section {
    border-radius: 17px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    transition: background-color 0.5s ease;
    width: 527px;
}

body.dark-mode .live-section div {
    background: #17153B;
}

.live-section div {
    background: #F4F4F4;
    padding: 10px;
    text-align: center;
    border-radius: 17px;
    transition: background-color 0.5s ease;
}

img {
    height: 160.125px;
    width: 213.500px;
}

.live-section div img {
    width: 100%;
}

.live-section div a {
    text-decoration: none;
    color: inherit;
}

.switch {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60px;
    height: 34px;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 0; /* Ensure the slider has no rounded corners */
}

.slider img {
    height: 30px;
    width: auto;
    position: absolute;
    left: 4px;
    top: 2px; /* Adjust to align vertically */
    transition: transform 0.5s ease;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider img {
    transform: translateX(26px);
}
